<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=1280px, initial-scale=1.0">
    <title>Редактирование</title>
</head>
<body>
    <header th:insert="blocks/header :: header"></header>

<div class="container mt-5">
    <h1>Редактирование статьи</h1>
    <div th:each="el : ${res}">
        <form th:action="@{/post/update}" method="post" enctype="multipart/form-data">
            <input type="text" name="id" th:value="${el.id}" style="visibility: hidden">
            <input type="text" th:value="${el.title}" name="title" placeholder="Введите название статьи" class="form-control"><br>
            <input type="text" th:value="${el.anons}" name="anons" placeholder="Введите анонс" class="form-control"><br>
            <small >Изображение заголовка</small><br/>
            <input type="file" name="titleImage"><br/><br/>
            <textarea name="p1Text"  placeholder="Первый параграф" class="form-control" th:text="${el.p1Text}"/><br>
            <small >Изображение после 1го абзаца</small><br/>
            <input type="file" name="p1Image"><br/><br/>
            <textarea name="p2Text" th:text="${el.p2Text}" placeholder="Второй параграф" class="form-control" /><br>
            <small >Изображение после 2го абзаца</small><br/>
            <input type="file" name="p2Image"><br/><br/>
            <textarea name="p3Text" th:text="${el.p3Text}" placeholder="Третий параграф" class="form-control" /><br>
            <input type="text" name="video" th:value="${el.video}" placeholder="Ссылка на видео" class="form-control"><br><br>
            <small >Источники</small><br/>
            <textarea name="source" th:text="${el.source}" placeholder="Источники" class="form-control"/><br>
            <button type="submit" class="btn btn-success" th:method="post">Обновить</button>
        </form>
    </div>
</div>
</body>
</html>